<ul id="main-nav" class="nav nav-tabs nav-stacked">

   <li>
    <%= link_to 'Home',:action =>'dashboard',:controller => 'sessions' %>
  </li>

  <li>
    <%= link_to 'Courses',:action =>'index',:controller => 'courses' %>
  </li>

  <li>
    <%= link_to 'Assignments',:action =>'index',:controller => 'assignments' %>
  </li>

  <li>
    <%= link_to 'Students',:action =>'index',:controller => 'students' %>
  </li>

  <li>
    <%= link_to "My Account",:action =>'myaccount',:controller => 'sessions' %>
  </li>

</ul>