<div class="bodyWrapper">
  <div class="container"></div>
  <div class="mid">
    <div class="midText">
      <div class="dashBoard">
        <div class="container">
          <h1 class="courseHH">
            <% if session[:user] != nil %>
              <%= "Account For: " + session[:user].email %></h1>
            <% end %>
            <div id="light" class="white_content">
              <h3>Change password</h3>

              <%= form_tag :action => 'change_password' %>
                <label for="user_password">Choose password:</label>
                <br/>
                <%= password_field "user", "password", :size =>
                20, :value=>"" %>
                <br/>

                <label for="user_password_confirmation">Confirm password:</label>
                <br/>
                <%= password_field "user", "password_confirmation", :size =>
                20, :value=>"" %>
                <br/>
              <%= submit_tag "Submit" %>

              <% $end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>