
<div class="bodyWrapper">
  <div id="content">
    <div class="thisDash">
        <div class="container">

          <div class="row">

            <div class="span3">

              <div class="account-container">
                <h1 class="page-title">
                  <% if session[:user] != nil %>
                    <%= "Account For: " + session[:user].email %>
                  <% end %>
                </h1>
              </div>
              <!-- /account-container -->

              <hr />

              <%= render :partial => 'leftNav' %>

              <hr />

              <div class="sidebar-extra">
              </div>
              <!-- .sidebar-extra -->

              <br />

            </div>
            <!-- /span3 -->

            <div class="span9">

              <h1 class="page-title">
                <i class="icon-th-large"></i>
                User Account
              </h1>

              <div class="row">

                <div class="span9">

                  <div class="widget">

                    <div class="widget-header">
                      <h3>Basic Information</h3>
                    </div>
                    <!-- /widget-header -->

                    <div class="widget-content">
                      <div class="control-group">
                        <label class="control-label" for="accounttype">Account Type</label>
                        <div class="controls">
                          <label class="radio">
                            <input type="radio" name="accounttype" value="option1" checked="checked" id="accounttype">Gradesnap BETA</label>
                        </div>
                      </div>

                      <div class="change_email">
                        <%#= form_tag :action => "change_email", :validate => true %>
                          <%= label_tag "Email" %>
                          <strong><%= session[:user].email %></strong><br /><br />
                          <%#= submit_tag "Save", :class =>'btn btn-success'%>
                        <%# $end -%>
                      </div>
                      <%= link_to 'Change Password', "change_password", :controller => :sessions %>

                    </div> <!-- /widget-content --> 
                  </div> <!-- /widget --> 
                </div> <!-- /span9 --> 
              </div> <!-- /row --> 
            </div> <!-- /span9 --> 
          </div> <!-- /row --> 
        </div><!-- /container --> 
      </div> <!-- /content -->
    </div>
  </div>
</div>