<div class="bodyWrapper">
	<div class="container">
<div class="thisDash">
<!-- -->
<div id="content">

    <div class="container">

      <div class="row">

        <div class="span3">

          <div class="account-container">

          <h1 class="page-title">
            <% if session[:user] != nil %>
              <%= "Account For: " + session[:user].email %>
            <% end %>
          </h1>
          </div>
          <!-- /account-container -->

          <hr />
          <%= render :partial => 'leftNav' %>
          <hr /><br />
        </div>  
        <div class="span9">

          <h1 class="page-title">
            <i class="icon-home"></i>
            Dashboard | Panel
          </h1>

          <div class="stat-container">

            <div class="stat-holder">
              <div class="stat">
                <span><%= @numass=Assignment.where("email = ?",session[:user][:email]).to_a.size %></span>
                Assignments
              </div>
              <!-- /stat -->
            </div>
            <!-- /stat-holder -->

            <div class="stat-holder">
              <div class="stat">
                <span>
                  <% newarray=Array.new%>
                  <% @numcourses=Course.where("teacher_id = ?",session[:user][:teacher_id]).to_a %>
                  <% @numcourses.each do |c| %>
                  <% newarray.push c.id %>
                  <% end %>
                  <% s_num = 0 %>
                  <% newarray.each do |id| %>
                  <% s_num += Student.where("course_id = ?", id).to_a.size %>
                  <% end %>
                  <%= s_num %></span>
                Students
              </div>
              <!-- /stat -->
            </div>
            <!-- /stat-holder -->

            <div class="stat-holder">
              <div class="stat">
                <span><%= @numcourse=Course.where("teacher_id = ?",session[:user][:teacher_id]).to_a.size %></span>
                Courses
              </div>
              <!-- /stat -->
            </div>
            <!-- /stat-holder -->

            <div class="stat-holder">
              <div class="stat">
                <span style="color: #ff5400"><%="#{currentIssueCount}"%></span>
               Issues
              </div>
              <!-- /stat -->
            </div>
            <!-- /stat-holder -->

          </div>
          <!-- /stat-container -->

  <!-- graph will go here
        <script type="text/javascript">
          $(function(){
            new Highcharts.Chart({
              chart: {
                renderTo: "orders_chart"
              },
              title: {
                text: "Your Students Progress"
              },
              xAxis: {
                type: "datetime"
              },
              yAxis: {
                title: { 
                  text: "Student"
                },
                series: [{
                  data: [1, 2, 5, 7, 3]
                }]
              }
            });
          });
        </script>
          <div id="orders_chart" style="width:560px; height:300px;"></div>

          -->
      <div class="soon"> 
        CHARTS AND GRAPHS COMING SOON!
      </div>

          <!-- /widget -->
          <% newarray.each do |id| %>
                    <% @s = Student.where("course_id = ?", id).to_a %>
                  <% end %>
                  <% if @s != nil %>

          <div class="widget widget-table">

            <div class="widget-header">
              <i class="icon-th-list"></i>
              <h3>Your Students</h3>
            </div>
            <!-- /widget-header -->

            <div class="widget-content">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>In Course</th>
                    <th>Overall Grade</th>
                  </tr>
                </thead>
<% @s.each do |student| %>
                <tbody>
                  <tr>
                    <td><%= student.full_name %></td>
                    <td><%= Course.where("id = ?",student.course_id).to_a.last.name %></td>
                    <td><%= student.grade * 100 %>%</td>
                  </tr>
                </tbody>
<% end %>
              </table>
<% else%>
 <p>No students.
</p>
<% end %>
</div>

            <!-- /widget-content -->

          </div>
            <p class="feedMe">
        Gradesnap is always looking to improve. Please
        <a href="mailto:contact@gradesnap.com">contact us</a>
        for your feedback.
  </p>
          <!-- /widget -->
</div>

        </div>
        <!-- /span9 -->

      </div>
      <!-- /row -->

    </div>
    <!-- /container -->

  </div>	
	</div>
</div>
