<div class="bodyWrapper">
  	<div class="container">

		<p id="notice"><%= notice %></p>

		<p>
		  <b>Name:</b>
		  <%= @importsheet.name %>
		</p>

		<p>
		  <b>Num q:</b>
		  <%= @importsheet.num_q %>
		</p>


		<%= link_to 'Edit', edit_importsheet_path(@importsheet) %> |
		<%= link_to 'Back', importsheet_path %>
	</div>
</div>
