<div class="newTest">
	<p>Note: Courses must have student list available before grading</p>

<%= form_for @assignment, :url => { :action => 'create' }, :validate => true  do |f| %>
	<%= f.error_messages %>
	<%= f.hidden_field :email, :value => session[:user].email  %>

	<%= f.label :course_id, "Select Course" %>
	<%= f.collection_select(:course_id, @courses, :id, :name, :prompt => "(Select Course)" ) %>

	<%= f.label :name, "Assignment Name:" %>
    <%= f.text_field :name %><br />
    <%= f.label :num_questions, "Number of questions:" %>
	<%= f.text_field :num_questions %><br />
	<%= f.submit %>
<% end %>
</div>
