<h1 class="courseH">Assignments</h1>
<p class="welCome">
	Welcome to the Gradesnap grading dashboard. Here you can create a new test or edit an existing one.
</p>
<div class="row">
	<div class="span4">
		<ul class="nav nav-tabs nav-stacked">
		<li>
		<%= link_to 'Create new test', :action =>'new', :controller => 'assignments' %></li>
		<li>
		<%= link_to 'Create skeleton test', :action =>'make', :controller => 'assignments' %></li>
		<li>
		<a href="/assets/template.jpg">Test Template</a>
		</li>
		</ul>
	</div>
<div class="span8">
<h2>All Assignments:</h2>
<% if @assignments == [] %>
(You currently have no assignments)
<% else %>
<% @assignments.each do |assignment| %>
<ul class="nav nav-tabs nav-stacked">
<li><%= link_to "#{assignment.name}", :action =>
'show', :controller => 'assignments', :id => assignment.id %></li>

	<ul class="editsAss">
		<li><%= link_to "Edit (for skeleton)", :action =>
	'index', :controller => 'assignment_students', :id => assignment.id %></li>
</ul>
<% end %>
<% end %>

</div>
</div>
<hr class="soften">
<p class="feedMe">
	Gradesnap is always looking to improve. Please
	<%= link_to "contact us", :action =>
	'contact', :controller => 'prelogins' %> with all of your feedback.
</p>