<div class="bodyWrapper">
<div class="container">
<p id="notice"><%= notice %></p>
<h1 class="courseH"><%= @assignment.name %></h1>
<h3>Combined Stats</h3>
<div class="courseStats">
<ul class="courseStatsList">
<li><span>Name: </span><%= @show_hash_assignment[:assignment].name %></li>
<li><span>Average: </span><%= mean(@show_hash_assignment[:assignment].grades) * 100 %>%</li>
</ul>
</div>
<h3>Students:</h3>
<% if @students_hash != nil %>
<table cellpadding="5" class="tastyTables">
<% @students_hash.each do |s, as| %>
<tr>
<td><%= link_to "#{s.first_name}  #{s.middle_name}  #{s.last_name}", s %></td>
<td><strong>Grade recieved: </strong><%= as.grade * 100 %></td>
</tr>
<% end %>
</table>
        <% else%>
            <p>
                No students.
            </p>
            
        <% end %>
    <div class="backB">
        <ul>
            <li><%= link_to 'Back', :action => 'index', :controller => 'assignments' %></li>
            <li><%= link_to 'Spreadsheet', :action => 'new', :controller => 'exportsheets', :id => @show_hash_assignment[:assignment].id %></li>
            <li><%= link_to "Statistics", :action => 'show', :controller => 'stats', :id => @show_hash_assignment[:assignment].id, :code => "assignment" %></li>
        </ul>
    </div>
       <ul style="list-style: none; margin-left: 0px; margin-top: 20px;">
        <li><li><%= link_to 'Delete This Assignment', @show_hash_assignment[:assignment], :class => 'btn btn-danger', :method => :destroy, :controller => :assignment, data: { confirm: 'Are you sure?' }  %></li></li>
    </ul>
        <!-- Currently empty until detailed editing features placed in -->
        <!-- <%= link_to 'Edit', edit_course_path(@assignment) %> | -->
  </div>
</div>
