<div class="bodyWrapper">
  <div class="container">
    <h1>Name Verification</h1>

    <p>
    Student:
    <%= link_to "#{@showHash[:student].first_name} #{@showHash[:student].middle_name} #{@showHash[:student].last_name}", :action => 'show', :controller => 'students', :id => @showHash[:student].id %>
    </p>

    <p>Welcome to the Answer Name page.  If you're here, then it means the name read from the sheet doesn't match any of your students in your records.</p>  
    <p>We've listed the students in the class of this assignment.  Select the student and click the "Done" button when everything is set.  If the student isn't listed you may need to
      <%= link_to 'Add a new student', :action => 'new', :controller => 'students' %>
    then return to this page to set things straight.</p>


    <%= render :partial => 'form-nameSelect' %>

    <div class="image">
      <%= image_tag(@showHash[:path]) %>
    </div>



    <%= link_to "Back", :action => 'index', :controller => 'issues' %>
  </div>
</div>
