<div class="bodyWrapper">
  <div class="container">
    <h1 class="courseH">All Students</h1>
    <ul class="nav nav-tabs nav-stacked">
      <li></li>
    </ul>
    <!-- -->
    <% if @courseStudents %>
    <% @courseStudents.each do |course| %>
    <div class="widget-header">
              <i class="icon-th-list"></i>
              <h3><%= "#{course.first.name}" %></h3>
            </div>
 

    <% course.last.each do |student| %>
    <ul class="nav nav-tabs nav-stacked">
        <li><%= link_to "#{student.full_name}", student %></li>
	<% Rails.logger.info("Student grade: #{student.full_name} #{student.grade} ") %>
    <li><span class="btn">Current grade: <%= student.grade*(100) %> %</span></li>

 </ul>
      <br />
    <% end %>
    <% end %>
    <br />
    <% else %>
    <p>
      The information necessary to process this page was not recieved. Please navigate the site through its links.
    </p>
    <% end %>
    <div class="backB">
      <ul>
        <li>
          <%= link_to 'Back', :action =>'dashboard', :controller => 'sessions' %></li>
        <li>
          <%= link_to 'Add students', :action =>'new', :controller => 'students' %></li>
        <li>
          <%= link_to 'Import students', :action =>'import', :controller => 'importsheets' %></li>
      </ul>
    </div>
  </div>
</div>
