<div class="preLogin">
  <h3>Join Gradesnap</h3>

  <%= form_for @user do |f| %>

  <% if @user.errors.any? %>
  <div class="error_messages">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %></li>
      <% end %></ul>
  </div>
  <% end %>

<!-- User signup information -->

        <label for="user_password"><strong>Name</strong></label>
        <%= f.text_field :name, :size => 20 %><br/>
        <%= flash[:notice] %>

        <label for="user_email"><strong>Email</strong></label>
        <%= f.text_field :email, :size => 20 %><br/>

        <label for="user_password"><strong>Password</strong></label>
        <%= f.password_field  :password, :size => 20 %>
        <%= flash[:notice] %>

        <label for="user_password_confirmation"><strong>Password Confirmation</strong></label>
        <%= f.password_field :password_confirmation, :size => 20 %>

   <!-- /User signup info -->

  <!-- Billing for Stripe -->

  <strong>Select Plan</strong>
  <% @plans = Plan.all.to_a  %>
  <%= f.collection_select(:plan_id, @plans, :id, :name, :prompt => "(Select Plan)" ) %>

  <%= f.hidden_field :stripe_card_token %>

  <% if @user.stripe_card_token.present? %>
  Credit card has been provided.
  <% else %>
  <div class="field">
    <%= label_tag :card_number, "Credit Card Number" %>
    <%= text_field_tag :card_number, nil, name: nil %></div>
  <div class="field">
    <%= label_tag :card_code, "Security Code on Card (CVV)" %>
    <%= text_field_tag :card_code, nil, name: nil %></div>
  <div class="field">
    <%= label_tag :card_month, "Card Expiration" %>
    <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %></div>
  <% end %>
  <div id="stripe_error">
    <noscript>
      JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
    </noscript>
  </div>

  <!-- /Billing -->
<div class="eulaWrap">
  <%= render :partial =>
  'eula' %>
</div>
  <div class="reCaptcha">
    <%= raw(get_captcha(:ssl =>true, :options => {:theme => 'white', :tabindex => 10})) %></div>
  <%= f.submit "Join Gradesnap", :class => 'btn btn-success' %>
  <% end %></div>
