<div class="preLogin">
  <h3>Join Gradesnap</h3>

  <%= form_for @user do |f| %>

  <% if @user.errors.any? %>
  <div class="error_messages">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %></li>
      <% end %></ul>
  </div>
  <% end %>

<!-- User signup information -->

        <label for="user_email"><strong>Email</strong></label>
        <%= f.text_field :email, :size => 20 %><br/>

        <label for="user_password"><strong>Password</strong></label>
        <%= f.password_field  :password, :size => 20 %>
        <%= flash[:notice] %>

        <label for="user_password_confirmation"><strong>Password Confirmation</strong></label>
        <%= f.password_field :password_confirmation, :size => 20 %>

   <!-- /User signup info -->

<div class="eulaWrap">
  <%= render :partial =>
  'eula' %>
</div>
  <div class="reCaptcha">
    <%= raw(get_captcha(:ssl =>true, :options => {:theme => 'white', :tabindex => 10})) %></div>
  <%= f.submit "Join Gradesnap", :class => 'btn btn-success' %>
  <% end %></div>
