<!-- end top level nav-->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to 'Home',    :action => 'dashboard',    :controller => 'sessions' %></li></li>
          <li><%= link_to 'Assignments', :action => 'index', :controller => 'assignments' %></li>
          <li><%= link_to 'Statistics',  :action => 'index', :controller => 'stats' %></li>
          <li><%= link_to "Issues (#{currentIssueCount})",  :action => 'index', :controller => 'issues' %></li>
          <li><%= link_to 'My Account',  :action => 'myaccount', :controller => 'sessions' %></li>
          <li><%= link_to 'Logout',    :action => 'logout', :controller => 'sessions' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

