<div class="bodyWrapper">
  <div class="container">
    
   <h1>New displaysheet</h1>
    <p>
      Download:
        <%= link_to "CSV", displaysheets_path(format: "csv"), :id => @assignment.id %> |
        <%= link_to "Excel", displaysheets_path(format: "xls"), :id => @assignment.id %>
    </p>
    <% if @students_hash %>

      <table border="1">
        <tr>
          <th>Student</th>
          <th>Grade</th>
        </tr>
        <% counter = 1 %>
        <% @students_hash.each do |s, a| %>
          <tr>
            <td><%= s.first_name %></td>
            <td><%= a.grade %></td>
          </tr>
          <% counter += 1 %>
        <% end %>

      </table>
	<% end %>
    <%= link_to 'Back', :action => 'index', :controller => 'assignments' %>
  </div>
</div>