<div class="loginMover">
<div id="login-container">
  <div id="login-header">
    
    <h3>Contact Us!</h3>
    
  </div> <!-- /login-header -->
  
  <div id="login-content" class="clearfix">
	<p>Gradesnap was built on feedback from teachers.  Send us a line, and we'll get back to you in one business day.</p>  
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message, :class => 'fuckingBitch' %>
  </div>
  <div class="actions">
    <%= f.submit "Send Feedback", :class => 'btn btn-info' %>
  </div>
<% end %>
      
    </div> <!-- /login-content -->
  </div>
