<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @contact.email %>
</p>

<p>
  <b>String:</b>
  <%= @contact.subject %>
</p>

<p>
  <b>Text:</b>
  <%= @contact.message %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
