<div class="bodyWrapper">
        <div class="container">
                <% if @course %>
                <p id="notice"><%= notice %></p>

                <p>
                  <b>Name:</b>
                  <%= @course.name %>
                </p>

                <p>
                        <b>Class Average:</b>
                        <%= mean(@course.courseGrades) %>
                </p>

                <p>
                        <b>Class Median:</b>
                        <%= median(@course.courseGrades) %>
                </p>

                <p>
                        <b>Class Mode:</b>
                        <%= mode(@course.courseGrades) %>
                </p>
                <p>

                        <b>Students:</b><p>
                        <% @students = Student.where("course_id=?", @course.id).to_a %>
                        <% @students.each do  |student| %>
                        <p>
                      <tr>
                        <td><%= link_to "#{student.full_name}", student %></td>
                  <b>Current grade:</b>
                  <%= student.grade %>
                      </tr>
                    </p>
                        <% end %>
                </p>

<div class="backB">
        <ul>
            <li><%= link_to 'Back', courses_path %></li>
            <li><%= link_to 'Edit', edit_course_path(@course) %></li>
            <li><%= link_to 'Add student', :action => 'new', :controller => 'students', :course => @course.id %></li>
            <li><%= link_to 'Import students', :action => 'import', :controller => 'importsheets', :course_id => @course.id %></li>
        </ul>
    </div>
    <ul style="list-style: none; margin-left: 0px; margin-top: 20px;">
        <li>  <%= link_to 'Delete Course', @course, :method => :delete, :class => 'btn btn-danger', :data => { :confirm => 'Are you sure?  All students and assignments of this course will be deleted as well.' }, :key => "value"%></li>
    </ul>
        <% else %>
                    <p>
                        The information necessary to render this page did not come through. Please navigate the site through its links.
                    </p>
                <% end %>
        </div>
</div>
       
