<h1>Listing assignment_students</h1>

<% if @students_hash %>
  <%= form_tag :action => 'mod' %>

    <% @students_hash.each do |s,as| %>
      <p>
        <%= label_tag "Grade" %>
        <%= flash[:notice] %>
        <%= text_field_tag "Grade", as.grade %>
      </p>
    <% end %>

    <%= submit_tag "submit", :class =>'btn btn-success' %>
  <% $end -%>

<% end %>




<%= link_to 'Back to Dash', :action=> 'dashboard', :controller => 'sessions' %>
