<h1>Listing assignment's students</h1>

<% if @students_hash %>
  <%= form_tag :action => 'mod' %>

    <%= hidden_field_tag :hash, @students_hash%>

    <% @students_hash.each do |s,as| %>
      <p>
        <%=%>
        <%= label_tag "  Grade" %>
        <%= flash[:notice] %>
        <%= text_field_tag  "#{s.id}" , "grade", :value => as.grade %>
      </p>

    <% end %>
    <%= submit_tag "submit", :class =>'btn btn-success'  %>
  <% $end -%>
<% else%>
  <p>
    No students.
  </p>
<% end %>

<%= link_to 'Back to Dash', :action=> 'dashboard', :controller => 'sessions' %>
