<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container" style="border-bottom: 3px solid #a9ffab;">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><img src="assets/logo.png"></li>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Home',    :action => 'index',    :controller => 'prelogins' %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Features',    :action => 'features',    :controller => 'prelogins' %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to 'About Us',    :action => 'about',    :controller => 'prelogins' %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Contact',    :action => 'contact',    :controller => 'prelogins' %></li> 
            <li class="divider-vertical"></li>
	    <li><%= link_to 'Legal',	:action => 'legal',	:controller => 'prelogins' %></li>
	    <li class="divider-vertical"></li>	
            <li><%= link_to 'Login',    :action => 'login',    :controller => 'prelogins' %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Signup', :action => 'signup', :controller => 'prelogins' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
