<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to 'Home',:action => 'index',:controller => 'prelogins' %></li>
          <li><%= link_to 'Features',:action => 'features',:controller => 'prelogins' %></li>
          <li><%= link_to 'About Us',:action => 'about',:controller => 'prelogins' %></li>
          <li><%= link_to 'Contact',:action => 'contact',:controller => 'prelogins' %></li>
          <li><%= link_to 'Legal',:action => 'legal',:controller => 'prelogins' %></li>
          <li><%= link_to 'Registration',:action => 'registration',:controller => 'prelogins' %></li>
        </ul>
      </div>
    </div>
  </div>
<div class="container">
  <ul class="signUp">
    <ul class="nav">
      <li><%= link_to 'Login', :action => 'login', :controller => 'prelogins', :class => "btn btn-success" %></li>
    </ul>
  </ul>
</div>
</div>
