<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to 'Home',    :action => 'index',    :controller => 'prelogins' %></li>
          <li><%= link_to 'Features',    :action => 'features',    :controller => 'prelogins' %></li>
          <li><%= link_to 'About Us',    :action => 'about',    :controller => 'prelogins' %></li>
          <li><%= link_to 'Sign Up',    :action => 'sign',    :controller => 'prelogins' %></li>
          <li><%= link_to 'Contact',    :action => 'contact',    :controller => 'prelogins' %></li>
          <li><%= link_to 'Legal',  :action => 'legal',   :controller => 'prelogins' %></li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="signUp">
    <li>
      <form class="form-inline">
        <input type="text" class="input-small" placeholder="Username"/>
        <input type="password" class="input-small" placeholder="Password"/>
        <button type="submit" class="btn" style="font-family: 'Quicksand', sans-serif; color: #111111;">Sign in</button>
      </form>
    </li>
  </ul>
</div>