
   <div class="preLogin">
    <h3>Join Gradesnap</h3>
    <%= form_tag :action=> "signup", :validate => true %>

        <label for="user_password"><strong>Name</strong></label>
        <%= text_field "user", "name", :size => 20 %><br/>
        <%= flash[:notice] %>

        <label for="user_email"><strong>Email</strong></label>
        <%= text_field "user", "email", :size => 20 %><br/>

        <label for="user_password"><strong>Password</strong></label>
        <%= password_field "user", "password", :size => 20 %>
        <%= flash[:notice] %>

        <label for="user_password_confirmation"><strong>Password Confirmation</strong></label>
        <%= password_field "user", "password_confirmation", :size => 20 %>

        <div class="reCaptcha">
          <%= raw(get_captcha(:ssl => true, :options => {:theme => 'white', :tabindex => 10})) %>
        </div>
        <%= submit_tag "submit", :class =>'btn btn-success'%>
    <% $end -%>
    </div>
   </div>
