<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Tienne' rel='stylesheet' type='text/css'>
  </head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

<%= render  'prelogins/main' %>

<div class="bodyWrapper">
	<div class="container">
  		<div class="preLogin">
   			<%= form_tag :action=>'forgot_password'%>
			<h3>Forgotten password</h3>
			Email:<br /> <%= text_field "user","email" %><br/>
			<%= submit_tag 'Email password' %>
			<% $end -%>
		</div>
  	</div>
    
<%= render 'shared/footer' %>

  </body>
</html>


