<!-- logo partial goes here -->
<div class="logo">
  <div class="container">
    <%= image_tag('/assets/logo.png') %>
    <%= image_tag('/assets/current.png' , :class =>'pull-right fux' ) %></div>
</div>
<!-- END logo partial goes here -->
<!-- images slider -->
<div class="bodyWrapper">
  <div class="container">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag('/assets/slide1.png') %>
          <div class="carousel-caption">
            <h4>You Teach, We'll Grade</h4>
            <p>
              Gradesnap provides teachers with the ability to grade exams from anywhere in the world, all while automatically generating an entire suite of statistics.
            </p>
          </div>
        </div>
        <div class="item">
          <%= image_tag('/assets/slide3.png') %>
          <div class="carousel-caption">
            <h4>STOP Wasting Time</h4>
            <p>
              Gradesnap is a product for teachers. We aim to save you time so you can focus on what you get paid to do, teach.
            </p>
          </div>
        </div>
        <div class="item">
          <%= image_tag('/assets/slide2.png') %>
          <div class="carousel-caption">
            <h4>Relax With Gradesnap</h4>
            <p>
              Because Gradesnap saves you time, you can now focus on what matters to you. Making Grading a snap means making you happy.
            </p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <div class="alert alert-info"> <strong>The Future Of Grading |</strong>
      Gradesnap makes grading a one click process...oh yeah we'll calculate all the stats for you too!
    </div>
  </div>
</div>
<!-- END images slider -->
<!-- first row -->
<div class="lowerBody">
  <div class="container">
    <div class="rowMover">
      <div class="row">
        <div class="span4">
          <p class="headerP">Grade your tests</p>
          <p>
            Print bubble sheets, scan them with any conventional scanner, upload them here. We'll grade them in seconds.
            Our scan sheets are free for any member of Gradsnap.
          </p>
          <p>
            We allow you to utilize all resources available to you. Making use of scanners and scrap paper is what Gradesnap is all about. Saving money, saving time.
          </p>
        </div>
        <!-- -->
        <div class="span4">
          <p class="headerP">Does the busy work</p>
          <p>
            Compiles full statistics, down to the most-frequently chosen wrong answer for each question. We understand that grading a test takes time.
          </p>
          <p>
            However the issue doesn't necessarily lie in the grading. It's the statistics that you need from that grade. We create statistics for you. No manual input.
          </p>
        </div>
        <!-- -->
        <div class="span4">
          <p class="headerP">Simplifies teaching</p>
          <p>
            Question banks, score comparison, and much more will let you focus on teaching without the time-consuming chores. Teaching is you passion. Grading is a chore. Don't waste you time with primitive, dated, and often times inaccurate grading methods
          </p>
          <p>Try Gradesnap and free yourself from grading.</p>
        </div>
        <!-- -->
        <!--/row--> </div>
    </div>
  </div>
<!-- END first row -->
<!-- second row -->
  <div class="bodyWrapperL">
    <div class="container"></div>
    <div class="row">
      <div class="span4">
        <p class="headerPB">
          Buys You Time
          <%= image_tag('/assets/icon1.png') %></p>
        <p class="B">
          Gradesnap allows teachers to stop wasting time with multiple choice grading and more time teaching their students or relaxing on their free time.
          <ul>
            <li>
              <a href="#">Developers Blog</a>
            </li>
            <li>
              <a href="#">Who is Gradesnap</a>
            </li>
            <li>
              <a href="#">Gradesnap Tutorials</a>
            </li>
            <li>
              <a href="#">Features Of Gradesnap</a>
            </li>
          </ul>
        </p>
      </div>
      <!-- -->
      <div class="span4">
        <p class="headerPB">
          Building The Future
          <%= image_tag('/assets/icon2.png') %></p>
        <p class="B">
          With Gradesnap you can take advantage of technology.
          <ul>
            <li>
              <a href="#">Under The Hood</a>
            </li>
            <li>
              <a href="#">How To Use Gradesnap</a>
            </li>
            <li>
              <a href="#">What's In A Test Template?</a>
            </li>
          </ul>
        </p>
      </div>
      <!-- -->
      <div class="span4">
        <p class="headerPB">
          The Big Idea
          <%= image_tag('/assets/icon3.png') %></p>
        <p class="B">
          Built For Teachers
          <ul>
            <li>
              <a href="#">Leave Us Feedback</a>
            </li>
            <li>
              <a href="#">Talk With Other Gradesnap Users</a>
            </li>
            <br />
            <button class="btn btn-success badAss">
              <a href="#">Gradesnap Forums!</a>
            </button>
          </ul>
        </p>

      </div>
    </div>
  </div>
</div>
<!-- END second row -->