<%= render :partial => 'logo' %>
<%= render :partial => 'slider' %>
<!-- first row -->
<div class="lowerBody">
  <div class="container">
    <div class="rowMover">
      <div class="row">
        <div class="span4">
          <p class="headerP">Grade your tests</p>
          <p>
            Print bubble sheets, scan them with any conventional scanner, upload them here. We'll grade them in seconds.
            Our scan sheets are free for any member of Gradsnap.
          </p>
          <p>
            We allow you to utilize all resources available to you. Making use of scanners and scrap paper is what Gradesnap is all about. Saving money, saving time.
          </p>
        </div>
        <!-- -->
        <div class="span4">
          <p class="headerP">Does the busy work</p>
          <p>
            Compiles full statistics, down to the most-frequently chosen wrong answer for each question. We understand that grading a test takes time.
          </p>
          <p>
            However the issue doesn't necessarily lie in the grading. It's the statistics that you need from that grade. We create statistics for you. No manual input.
          </p>
        </div>
        <!-- -->
        <div class="span4">
          <p class="headerP">Simplifies teaching</p>
          <p>
            Question banks, score comparison, and much more will let you focus on teaching without the time-consuming chores. Teaching is your passion. Grading is a chore. Don't waste your time with primitive, dated, and often times inaccurate grading methods
          </p>
          <p>Try Gradesnap and free yourself from grading.</p>
        </div>
        <!-- -->
        <!--/row--> </div>
    </div>
  </div>
<!-- END first row -->
<!-- second row -->
  <div class="bodyWrapperL">
    <div class="container"></div>
    <div class="row">
      <div class="span4">
        <p class="headerPB">
          Buys You Time
          <%= image_tag('/assets/icon1.png') %></p>
        <p class="B">
          Gradesnap allows teachers to stop wasting time with multiple choice grading and more time teaching their students or relaxing on their free time.
          <ul>
            <li>
              <a href="#">Developers Blog</a>
            </li>
            <li>
              <a href="#">Who is Gradesnap</a>
            </li>
            <li>
              <a href="#">Gradesnap Tutorials</a>
            </li>
            <li>
              <a href="#">Features Of Gradesnap</a>
            </li>
          </ul>
        </p>
      </div>
      <!-- -->
      <div class="span4">
        <p class="headerPB">
          Building The Future
          <%= image_tag('/assets/icon2.png') %></p>
        <p class="B">
          With Gradesnap you can take advantage of technology. With future plans to incorporate online testing portals, Gradesnap will be the platform that tracks your students for years to come.
        <p class="B">Always stay up to date by checking our <a href="//grade-snap.com/devblog" target="_blank" class="btn">blog!</a></p>
        </p>
      </div>
      <!-- -->
      <div class="span4">
        <p class="headerPB">
          The Big Idea
          <%= image_tag('/assets/icon3.png') %></p>
        <p class="B">
          Built For Teachers
          <p class="B">By making sure we listen to teachers, we are able to give them a product that they want and need. Don't be forced into doing something that just doesn't work for you.</p>
          <div class="whiteB">
            <%= button_to 'Give Us Feedback',:action =>'new',:controller => 'contacts' %>
        </div>
   
        </p>

      </div>
    </div>
  </div>
</div>
<!-- END second row -->
